/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/

html {
	display: flex;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

footer, .sfooter-content {
	width: auto;
	margin: 0 auto 60px;
}
/*----------------------------*/

@font-face {
	font-family: 'Sansation';
	src: url(../media/sansation.ttf);
}

/*header {
	background-color: #ffffff;
	margin-bottom: 5rem;
}*/

/*#nav-main {
	position: fixed;
}*/

#burger {
	border: none;
}

#burger, #burger:active, #burger:hover, #burger:visited {
	background-color: #ffffff;
}

.icon-bar {
	background-color: #1c9fe1!important;
}

.navbar-fixed-top {
	width: 90%;
	margin: auto;
}

.navbar-default {
	background-color: #ffffff;
	border: none;
	height: 6rem;
}

.navbar-default > div > ul > li {
		margin: 5rem 1rem 0;
}

.navbar-right > li > a {
		font-family: 'Sansation', serif;
		font-size: 2rem;
		font-weight: 400;
		color: black!important;
		margin: 5rem 1rem 0;
		width: 95%;
}
.navbar-brand {
	padding-top: .5rem;
}

.topnav-heading {
	font-family: 'Sansation', serif;
	font-size: 2rem;
}

@media(max-width:767px) {
	#topnav-logo {
		height: 4rem;
	}
	.topnav-heading {
		position: absolute;
		margin-left: 2rem;
		margin-top: 1rem;
	}
}

@media(min-width:768px) {
	#topnav-logo {
		height: 6rem;
	}
}

@media(min-width:993px) {
	#topnav-logo {
		height: 8rem;
	}
}

/*#burger {
	border: none;
}*/

.topnav-heading {
	position: absolute;
	left: 40%;
}

.bar-box {
	position: absolute;
	left: 20%;
}

#barbar {
	position: absolute;
	top: 2rem;

	width: 40px;
	height: 10px;
	background-color: #1c9fe1;
	transform: rotateZ(-45deg);
}

.topnavline {
	margin: auto;
	width: 100%;
	height: .2rem;
	background-color: #000000;
}

.navline {
	margin: auto;
	width: 90%;
	height: .2rem;
	background-color: #000000;
}

h2 {
	font-family: 'Sansation', serif;
	text-align: center;
	color: black;
}

.txt {
	font-family: 'Oxygen', sans-serif;
	color: black;
}

h5 {
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	color: black;
}

a > h5 {
	text-decoration: underline;
}

a > h5:hover {
	color: gray;
}

.mcontent {
	font-family: 'Sansation', serif;
	font-size: 2rem;
	text-align: center;
	color: black;
	margin-top: 5rem;
}

.subcontent > .sec {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.5rem;
	margin: 2rem 0;
	min-height: 15rem;
	color: black;
}

.subcontent > .sec > h3 {
	font-family: 'Sansation', serif;
}

.mcontent > .sec {
	min-height: 20rem;
}

.mcontent > .sec > h2 {
	font-size: 1.5em;
}

.mcontent > .sec > p {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.75rem;

}

.portfolio-img {
	width: 100%;
	padding: .5rem;
	border: 1px solid black;
	border-radius: 8px;
}

.about-img {
	width: 100%;
	padding:.5rem;
	border: 1px solid black;
	border-radius: 8px;
}

.alert {
	width: 80%;
	margin-bottom: 5rem;
}

label {
	font-family: 'Sansation', serif;
}

form {
	margin: 0 auto;
	width: inherit;
}

form > h3 {
	font-family: 'Sansation', serif;
}

.form-group {
	/*width: 60%;*/
	align-content: center;
	margin-bottom: 1rem;
}

.input-field {
	background: white;
}

.input-label {
	background: white;
}

.title-link {
	font-size: 2rem;
	padding-top: 2rem;
}

.portfolio-title {
	font-size: 2rem;
	padding: 4rem 0 2rem;
}

@media (max-width: 992px) {
	#rct {
		width: 20%;
	}

	form > input {
		width: 400px;
	}
}

.btns {
	margin-top: 1rem;
}

.btn-success {
	background-color: cornflowerblue;
	border-color: black;
	border-radius: 10px;
}

.btn-success:hover {
	background-color: cornflowerblue;
	border-color: whitesmoke;
}

.btn-warning {
	background-color: #E1C56B;
	border-color: black;
	border-radius: 10px;
	margin-left: 1rem;
}

.btn-warning:hover {
	background-color: #E1C56B;
	border-color: whitesmoke;
}

.g-recaptcha {
	background: white;
}

.navbar-fixed-bottom {
	margin-top: 2rem;
	border: 2px black;
	text-align: center;
}

footer {
	background-color: #ffffff;
	font-family: 'Oxygen', sans-serif;
	margin: auto;
	max-height: 6rem;
	color: black;
	text-align: center;

}

.bottomnav {
	margin-top: 1rem;
}

.footer-copy {
	text-align: center;
}

.footer-i {
	margin-bottom: 1rem;
	color: black;
}

.footer-i > a > img {
	width: 2.5rem;
	padding-bottom: 1rem;
}

.nav-item {
	text-align: center;
	color: black;
}
