/* ---------- Flexbox Sticky Footer ---------
http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

corrects IE min-height bug
*/

html {
	display: flex;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

footer, .sfooter-content {
	width: auto;
	margin: 0 auto 60px;
}

/* ------------ Fonts ----------------- */
@font-face {
	font-family: 'Sansation';
	src: url(../media/sansation.ttf);
}

/* ------------ Header ----------------- */

#burger {
	border: none;
	padding-right: none;
}

#burger, #burger:active, #burger:hover, #burger:visited {
	background-color: #ffffff;
}

.icon-bar {
	background-color: #1c9fe1!important;
}

.navbar-fixed-top {
	width: 90%;
	margin: auto;
}

.navbar-default {
	background-color: #ffffff;
	border: none;
}

.navbar-default > div > ul > li {
		margin: 1rem .5rem 0;
}

.navbar-right > li > a {
		font-family: 'Sansation', serif;
		font-size: 2rem;
		font-weight: 400;
		color: black !important;
		margin: 1rem .5rem 0;
		padding-left: 5%;
		padding-right: 5%;
		width: 95%;
}

.navbar-right > li > a:hover {
	text-decoration: underline;
}

.navbar-right > li > a:active {
	color:#1c9fe1 !important;
}

.navbar-brand {
	padding-top: .5rem;
}

.topnav-heading {
	position: absolute;
	left: 30%;
	font-family: 'Sansation', serif;
	font-size: 3rem;

}

@media(max-width:767px) {
	#topnav-logo {
		height: 4rem;
	}
	.topnav-heading {
		position: absolute;
		margin-left: 2rem;
		margin-top: .5rem;

	}
	.navbar-default {
			height: 6rem;
	}
}

.navbar-brand {
	position: absolute;
}

@media(min-width:768px) {
	#topnav-logo {
		height: 6rem;
	}
	.topnav-heading {
		top: 2.25rem;
		left: 5%;
	}
	.navbar-default, .navbar-header {
			height: 10rem;
	}
	.navbar-brand {
		left: 42%;
		top: 1rem;
	}
}

@media(min-width:992px) {
	#topnav-logo {
		height: 7rem;
	}
	.topnav-heading {

	}
	.navbar-brand {
		left: 45%;
	}
}

.bar-box-l {
	position: absolute;
	left: 20%;
}

.bar-box-r {
	position: absolute;
	left: 60%;
}

#barbar {
	position: absolute;
	top: 2rem;
	width: 4rem;
	height: .4rem;
	background-color: #1c9fe1;
	transform: rotateZ(-45deg);
}

.navbar-collapse {
max-height: 6rem;
}

#nav-bts {
	background-color: #ffffff;
}

.topnavline {
	margin: auto;
	width: 100%;
	height: .2rem;
	background-color: #000000;
}

.navline {
	margin: auto;
	width: 90%;
	height: .2rem;
	background-color: #000000;
}

/* ------------ Global ----------------- */

h2 {
	font-family: 'Sansation', serif;
	text-align: center;
	color: black;
}

.txt {
	font-family: 'Oxygen', sans-serif;
	color: black;
}

h5 {
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	color: black;
}

a > h5 {
	text-decoration: underline;
}

a > h5:hover {
	color: gray;
}

@media(max-width: 767px) {
	.mcontent {
		margin-top: 7rem;
	}
}

@media(min-width: 768px) {
	.mcontent {
		margin-top: 12rem;
	}
}

@media(min-width: 992px) {
	.mcontent {

	}
}

.mcontent {
	font-family: 'Sansation', serif;
	font-size: 2rem;
	text-align: center;
	color: black;
}

.subcontent > .sec {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.5rem;
	margin: 2rem 0;
	min-height: 15rem;
	color: black;
}

.subcontent > .sec > h3, {
	font-family: 'Sansation', serif;
	font-size: 2rem;
}

.mcontent > .sec {
	min-height: 20rem;
}

.mcontent > .sec > h2, .mcontent > h2 {
	font-size: 2.25rem;
}

.mcontent > .sec > p {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.75rem;

}

/* ------------ Portfolio ----------------- */

.portfolio-item {
	margin-top: 1rem;
}

.portfolio-img {
	width: 100%;
	padding: .5rem;
	border: 1px solid black;
	border-radius: 8px;
}

/* ------------ About ----------------- */

.about-img-box {
	margin: auto;
}

.about-img {
	width: 100%;
	margin: auto;
	padding:.5rem;
	border: 1px solid black;
	border-radius: 8px;
}

/* ------------ Contact Form ----------------- */

.form-container {
	width: 90%;
	margin: auto;
}

.alert {
	width: 80%;
	margin-bottom: 5rem;
}

label {
	font-family: 'Sansation', serif;
}

form {
	margin: 0 auto;
	width: inherit;
}

form > h3 {
	font-family: 'Sansation', serif;
}

.form-group {
	/*width: 60%;*/
	align-content: center;
	margin-bottom: 1rem;
}

.input-field {
	background: white;
}

.input-label {
	background: white;
}

.title-link {
	font-size: 2rem;
	margin-top: 4rem;
}

@media(max-width:767px) {
	#contact-form {
		margin-top: 10rem;
	}
	.about-img-box {
		width: 15rem;
	}
}

@media(min-width:768px) {
	#contact-form {
		margin-top: 14rem;
	}
	.about-img-box {
		width: 19rem;
	}
}

@media(min-width:992px) {
	#contact-form {
		width: 75%;
	}
	.about-img-box {
		width: 22rem;
	}
}

.btns {
	margin-top: 1rem;
}

.btn-success {
	background-color: cornflowerblue;
	border-color: black;
	border-radius: 10px;
}

.btn-success:hover {
	background-color: cornflowerblue;
	border-color: whitesmoke;
}

.btn-warning {
	background-color: #E1C56B;
	border-color: black;
	border-radius: 10px;
	margin-left: 1rem;
}

.btn-warning:hover {
	background-color: #E1C56B;
	border-color: whitesmoke;
}

.g-recaptcha {
	background: white;
}

/* ------------ Footer ----------------- */

.navbar-fixed-bottom {
	margin-top: 2rem;
	border: 2px black;
	text-align: center;
}

footer {
	background-color: #ffffff;
	font-family: 'Oxygen', sans-serif;
	margin: auto;
	max-height: 6rem;
	color: black;
	text-align: center;

}

.bottomnav {
	margin-top: 1rem;
}

.footer-c {
	width:15rem;
	margin: auto;
}

@media(min-width: 768px) {
	.bottomnav {
		margin-top: 2rem;
	}
}

.footer-copy, .footer-l {
	text-align: center;
		bottom: .5rem;
}

.footer-r {
	margin-bottom: 1rem;
	color: black;
}

.social-bts {
	position: absolute;
	right: 6%;
	bottom: 0rem;
}

.footer-r > a > img {
	width: 2.5rem;
	padding-bottom: 1rem;
}

#social-bt-r {
	padding-left: 1rem;
}
